@import "_functions";

.animation {
  float: left;
  position: relative;
  width: 100%;
  font-size: 72px;
  .scene {
    @include absolute(0, "", "", 0);
    overflow: hidden;
    @include widthHeight(100%, 600px);
//    outline: 1px solid black;
  }

  div {
    background-repeat: no-repeat !important;
  }

  h1.process {
    font: bold 100% $proxima_nova_rgregular;
    color: #cbcbcb;
    @include widthHeight(315px, 80px);
    @include absolute(50%, "", "", 50%);
    margin: #{-80 / 2}px 0 0 #{-315 / 2}px;
  }

  .sketch {
    opacity: 0;
    background: url("../Images/sketch.jpg");
    @include widthHeight(518px, 328px);
    @include absolute("", 5%, 60px, "");
  }

  .design {
    @extend .sketch;
    background: url("../Images/design.png");
  }
  .sketch-h1 {
    @include absolute(50%, "", "", 10%);
    margin: #{-80 / 2}px 0 0 0;
    font: bold 100% $proxima_nova_rgregular;
    color: #6b074b;
  }

  .model-h1 {
    @include absolute(300px, 100px, "", "");
    font: bold 100% $proxima_nova_rgregular;
    color: #483a80;
    margin-top: #{-80/2}px;

  }

  .render {
    @extend .sketch-h1;
    color: #c42501;
  }

  .hand {
    background: url("../Images/hand-2.png");
    //@include absolute("", -174px, -29px, "");
    @include absolute("", -550px, -29px, "");
    @include widthHeight(503px, 341px);
  }

  .hand1 {
    background: url("../Images/hand-3.png");
    position: absolute;
    right: 0;
    bottom: 0;
    width: 215px;
    height: 374px;
    z-index: 2;
  }

  .ipad {
    background: url("../Images/ipad.jpg");

    @include absolute("", 0, 0, "");
    @include widthHeight(765px, 555px);
    overflow: hidden;

    &:after {
      @include content(50px, 380px, 48px, 0px, "", "");
      background: url("../Images/ipad.jpg") no-repeat -715px -47px;
      z-index: 5;

    }

    &:before {
      @include content(206px, 100%, 0, "", "", 0);
      background: url("../Images/ipad.jpg") no-repeat 0px -0px;
      z-index: 5;

    }
  }

  .ipad-image {
    @include absolute(55px, "", "", 205px);
    @include widthHeight(510px, 372px);
    //    opacity: 0;
  }

  $columns: 13;

  @for $i from 1 through $columns {
    .ipad-image-#{$i} {
      background: url(../Images/image-ipad-#{$i}.jpg) no-repeat 0 0;
      //z-index: #{14-$i};

    }
  }

}



