body.pushy-active {
  overflow-x: hidden !important;
}

.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0px;
  background: red;
  @include opacity(0);
  z-index: 9999;
}

#home nav, .Wrapper {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(.16, .68, .43, .99);
  -moz-transition: -moz-transform 0.5s cubic-bezier(.16, .68, .43, .99);
  -o-transition: -o-transform 0.5s cubic-bezier(.16, .68, .43, .99);
  transition: transform 0.5s cubic-bezier(.16, .68, .43, .99);
  // improves performance issues on mobile
  -webkit-backface-visibility: hidden;

  //  -webkit-perspective: 1000;
}

.container-push, .push-push {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

@media only screen and (max-width: 767px) {
  #home {

    nav {
      position: fixed;
      width: 210px;
      left: 0;
      height: 100% !important;
      top: 0;
      z-index: 9999;
      background: #000000 !important;
      overflow: auto;
      -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
      -webkit-transform: translate3d(-210px, 0, 0);
      -moz-transform: translate3d(-210px, 0, 0);
      -ms-transform: translate3d(-210px, 0, 0);
      -o-transform: translate3d(-210px, 0, 0);
      transform: translate3d(-210px, 0, 0);
      margin-top: 0;

      ul {
        height: auto;
        display: block;
        margin-top: 20px;
      }

      li {
        float: left;
        padding: 0;
        width: 100%;
        margin: 0;
        &:last-child a {
          border-bottom: none;
        }

        a {
          width: 90%;
          margin: 0;
          padding: 10px 0 10px 10%;
          border-bottom: 1px solid #636363;
          display: block;
          &:hover {

            //   border-bottom: 1px solid $white;
          }

        }
      }
    }

    nav > ul {
      > li:first-child a.active {
        border-bottom: 0;
        &:after {
          width: 100%;
          left: 0;
        }
      }
      ul {
        display: block;
        position: static;
        width: 98%;
        padding: 0;
        margin-top: 0 !important;
        margin-left: 2%;
        min-width: 0;
        float: left;
        a {
          border-bottom: none;
        }
      }

    }
  }
}