@import "../../bourbon/bourbon";
@import "_functions";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  line-height: 1;
  font-family: $avalon;

}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 12px Arial, Helvetica, sans-serif;
  color: #808080;
  padding: 0;
  margin: 0;
}

a, a:visited, a:hover, .Logo {
  text-decoration: none;
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  -o-transition: color .3s linear;
  -ms-transition: color .3s linear;
  transition: color .3s linear;
}

.Clear {
  clear: both;
}

.quotes {
  display: none;
}

@font-face {
  font-family: 'AvalonPlain';
  src: url('../Fonts/avalonplain.woff') format('woff'),
  url('../Fonts/avalonplain.svg#avalonplain') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'AvalonPlain';
    src: url('../Fonts/avalonplain.svg#avalonplain') format('svg');

  }
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* -------------------------------------------- */
.Wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*section
-------------------------------------------- */
section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/*videoOverlay
-------------------------------------------- */
.videoOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

/*home
-------------------------------------------- */
section.home {
  height: 636px;
  background-size: 0px;
  &:after {
    background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;
    @include content(100%, 7px, "", "", 0, 0);
    z-index: 1;

  }
}

.section {
  float: left;
  width: 100%;

}

.home h2 {
  position: relative;
  z-index: 5;
  display: none;
  font: normal 68px $avalon;
  color: #fff;
  text-align: center;
  width: 95%;
  padding: 255px 0 0;
  margin: 0 auto;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

}

.home p {
  position: relative;
  z-index: 5;
  display: block;
  font: normal 24px $avalon;
  color: #fff;
  text-align: center;
  width: 95%;
  padding: 0;
  margin: 0 auto;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0.3;
  }
  100%, 90% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0.3;
  }
  100%, 90% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0.3;
  }
  100%, 90% {
    opacity: 1;
  }
}

.home .scrollBtn {
  position: relative;
  display: block;
  width: 44px;
  height: 53px;
  background: url(../Images/Buttons/scrollBg.png) no-repeat 0 top;
  z-index: 5;
  margin: 160px auto 0;
  -webkit-animation: fadein 1s ease-in alternate infinite;
  -moz-animation: fadein 1s ease-in alternate infinite;
  animation: fadein 1s ease-in alternate infinite;
}

/*Logo
-------------------------------------------- */
header {
  position: fixed;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: 15;
  height: 77px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  @include backface-visibility(hidden);

  /*nav
  -------------------------------------------- */
}

header .logo a {
  float: left;
  width: 137px;
  height: 90px;
  margin: 17px 0 12px 26px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  position: relative;

  img {
    @include verticalCenter();
  }
  img + img {
    opacity: 0;

  }

}

header .logoInner a {
  width: 87px;
  height: 50px;
  margin: 17px 0 10px 26px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  img {
    opacity: 0;
  }
  img + img {
    opacity: 1;
  }

}

header nav {
  display: block;
  height: 100%;
  background: #333333;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

header nav > ul {
  float: right;
  padding: 0;
  display: table;
  height: 100%;
}

header nav > ul > li {
  font: normal 13px $avalon;
  color: #fff;
  position: relative;
  padding: 0 25px;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}

header nav > ul > li.active {
  background: #1A1A1A;
}

header nav > ul > li a {
  text-decoration: none;
  color: #fff;
}

header nav > ul > li > a:hover {
  text-decoration: none;
  color: #CCC;
}

header nav ul ul {
  position: absolute;
  left: 0;
  top: 77px;
  background: #333;
  min-width: 220px;
  display: none;
}

header nav ul ul li a {
  font-size: 12px;
  padding: 12px 20px;
  display: block;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header nav ul ul li:nth-child(1) a:hover {
  background-color: #009fb5;
}

header nav ul ul li:nth-child(2) a:hover {
  background-color: #ef4f4e;
}

header nav ul ul li:nth-child(3) a:hover {
  background-color: #a14176;
}

header nav ul ul li:nth-child(4) a:hover {
  background-color: #7373a9;
}

.logged-in header {
  top: 32px;
}

/*video
-------------------------------------------- */
.home video.topVideo {
  min-width: 1620px;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: -175px;

  z-index: 1;
}

/*about
-------------------------------------------- */
.about {
  background: #fff;
}

.about h2 {
  position: relative;
  z-index: 5;
  padding: 70px 0 0;
}

.about p {
  position: relative;
  z-index: 5;
  display: block;
  font: normal 30px $avalon;
  color: #222222;
  text-align: center;
  width: 80%;
  padding: 0;
  margin: 50px auto 0;

}

.about nav {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 70px;
  border-bottom: solid #000 3px;
  background: #333333;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.about nav ul {
  float: right;
  padding: 0;
  margin: 29px 0 0 0;
}

.about nav ul li {
  float: left;
  font: normal 13px $avalon;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin: 0 50px 0 0;
}

.about nav ul li a {
  text-decoration: none;
  color: #fff;
}

.about nav ul li a:hover {
  text-decoration: none;
  color: #CCC;
}

.about .test {
  position: fixed;
}

/*Logo
-------------------------------------------- */
.about .logo {
  float: left;
  width: 87px;
  height: 50px;
  background: url(../Images/Logo/logo.png) no-repeat 0 0;
  padding: 0;
  margin: 12px 0 0 27px;
}

/*about Services
-------------------------------------------- */
.about .services {
  float: left;
  width: 100%;
  background: #fff;
  margin: 50px 0 0;
  padding-bottom: 50px;
  background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;

}

.about .services ul {
  display: block;
  width: 94%;
  padding: 0;
  margin: 70px auto 0;
}

.about .services ul li {
  float: left;
  font: normal 18px $avalon;
  color: #616161;
  width: 22%;
  padding: 0;
  margin: 0 3% 0 0;
  position: relative;
  min-height: 160px;
  cursor: pointer;
  text-align: center;

}

.about .services ul li span {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  img {
    width: auto !important;
    height: auto !important;

  }
}

.about .services ul li:hover span {
  margin-top: -15px;
  margin-bottom: 15px;

}

.about .services ul li h3 {
  float: left;
  height: 60px;

  width: 100%;
  text-transform: lowercase;

}

.about .services ul li:last-child {
  margin: 0;
}

.about .services ul li .hover {
  position: relative;
  float: left;
  width: 180px;
  height: 176px;
  outline: 2px solid #fff;
  box-shadow: 0 0 5px #000;
  background: #c7c8ca;
  display: none;
}

.about .services ul li .hover img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;

}

/*about Services
-------------------------------------------- */
.services-intro {
  background: url(../Images/Backgrounds/ourclientBg.jpg) center top/100% auto no-repeat;
  float: left;
  min-height: 570px;
  &:after {
    background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;
    @include content(100%, 7px, "", "", 0, 0);

  }
}

.scrollToTop {
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  text-indent: -99999px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: url("../Images/top.png") rgba(0, 0, 0, 0.7) no-repeat center;
  z-index: 99999;

}

.scrollToTop:hover {
  text-decoration: none;
}

.services-intro p {
  position: relative;
  z-index: 5;
  display: block;
  font: bold 48px $avalon;
  color: #404040;
  text-align: center;
  width: 80%;
  padding: 100px 0;
  margin: 0 auto 0;
}

/*about Services
-------------------------------------------- */
.ourClient {
  width: 100%;
  min-height: 320px;
  border-top: 3px #000 solid;
  background: #f5f3f3;
  float: left;
  &:after {
    background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;
    @include content(100%, 7px, "", "", 0, 0);

  }
}

.ourClient .client {
  width: 90%;
  margin: 0 auto;
}

/*ourClient bxslider
-------------------------------------------- */
.ourClient .bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.ourClient .bx-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto !important;
}

/** THEME
===================================*/
.ourClient .bx-wrapper .bx-viewport .slide {
  position: relative;
  height: 155px;
}

.ourClient .bx-wrapper .bx-pager, .ourClient .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: none;
}

/* LOADER */
.ourClient .bx-wrapper .bx-loading {
  display: none;
}

/* PAGER */
.ourClient .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.ourClient .bx-wrapper .bx-pager .bx-pager-item, .ourClient .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.ourClient .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.ourClient .bx-wrapper .bx-pager.bx-default-pager a:hover, .ourClient .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.ourClient .bx-wrapper .bx-prev {
  left: 0;
  background: url(../Images/Buttons/controls.png) no-repeat 0 -32px;
}

.ourClient .bx-wrapper .bx-next {
  right: 0;
  background: url(../Images/Buttons/controls.png) no-repeat -43px -32px;
}

.ourClient .bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.ourClient .bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.ourClient .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 5;
}

.ourClient .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.ourClient .bx-wrapper .bx-controls-direction {
  position: relative;
  width: 100px;
  margin: 25px auto 0;
}

/* AUTO CONTROLS (START / STOP) */
.ourClient .bx-wrapper .bx-controls-auto {
  text-align: center;
}

.ourClient .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../Images/Buttons/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.ourClient .bx-wrapper .bx-controls-auto .bx-start:hover, .ourClient .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.ourClient .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../Images/Buttons/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.ourClient .bx-wrapper .bx-controls-auto .bx-stop:hover, .ourClient .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.ourClient .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.ourClient .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.ourClient .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.ourClient .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.ourClient-listing {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 40px 0;
  clear: both;
  overflow: auto;

  .slide {
    width: 18%;
    margin-right: 2%;

    float: left;
    height: 150px;
    position: relative;
    img {
      @include verticalCenter();
      width: auto !important;
      height: auto !important;
    }

  }
  .heading-cont {
    margin-bottom: 30px;

  }

}

.column_clients {
  position: relative;
  &:after {
    background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;
    @include content(100%, 7px, "", "", 0, 0);

  }
}

/*model
-------------------------------------------- */
.model {
  height: 606px;
  background: url(../Images/Backgrounds/3dModling.jpg) no-repeat center center;
}

/*Event
-------------------------------------------- */
.event {
  border-top: 1px solid #000;
  height: 1115px;
  background: no-repeat center 0 #fff;
  &:after {
    background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;
    @include content(100%, 7px, "", "", 0, 0);

  }

}

.event h2 {
  padding: 60px 0 0 0;
}

.event p {
  font: normal 22px $avalon;
  color: #616161;
  text-align: center;
  //  width: 220px;
  padding: 60px 0 0;
  margin: 0 auto;
}

.event p a {
  text-decoration: none;
  color: #1b8292;
}

.event p a:hover {
  color: #000;
}

/*ourClient bxslider
-------------------------------------------- */
.event .bx-wrapper {
  position: relative;
  margin: 726px auto 0;
  width: 700px;
  padding: 0;

}

.event .bx-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto !important;
}

/** THEME
===================================*/
.event .bx-wrapper .bx-viewport {
  left: -21px;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.event .bx-wrapper .bx-viewport .slide {
  position: relative;
  height: 90px;
}

.event .bx-wrapper .bx-pager, .event .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: none;
}

/* LOADER */
.event .bx-wrapper .bx-loading {
  display: none;
}

/* PAGER */
.event .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.event .bx-wrapper .bx-pager .bx-pager-item, .event .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.event .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.event .bx-wrapper .bx-pager.bx-default-pager a:hover, .event .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.event .bx-wrapper .bx-prev {
  left: 0;
  background: url(../Images/Buttons/controls.png) no-repeat 0 -32px;
}

.event .bx-wrapper .bx-next {
  right: 0;
  background: url(../Images/Buttons/controls.png) no-repeat -43px -32px;
}

.event .bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.event .bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.event .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 5;
}

.event .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.event .bx-wrapper .bx-controls-direction {
  position: relative;
  width: 100px;
  margin: 44px auto 0;
}

/* AUTO CONTROLS (START / STOP) */
.event .bx-wrapper .bx-controls-auto {
  text-align: center;
}

.event .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../Images/Buttons/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.event .bx-wrapper .bx-controls-auto .bx-start:hover, .event .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.event .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../Images/Buttons/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.event .bx-wrapper .bx-controls-auto .bx-stop:hover, .event .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.event .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.event .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.event .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.event .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.heading-cont {
  width: 100%;
  text-align: center;
  h2 {
    font: bold 30px $avalon;
    color: #222222;
    height: 40px;
    border-bottom: solid 1px #717171;
    text-transform: lowercase;
    display: inline-block;
  }
}

/*contact
-------------------------------------------- */
section.contact {
  height: 883px;
  min-height: 700px;

  background: url(../Images/Backgrounds/contactBg.jpg) no-repeat center 0;
  background-size: cover;
  position: relative;

  &:after {
    background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;
    @include content(100%, 7px, "", "", 0, 0);

  }
  .heading-cont {

    margin-bottom: 20px;

  }

}

.contact h2 {
  color: #fff;
  border-bottom: solid 1px #fff;
  padding: 40px 0 0;
}

.contact .map {
  float: right;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width: 40%;
  max-width: 550px;
  height: auto;
  background: white;
  margin: 20px 70px 0 0;
  -webkit-box-shadow: 0px 0px 24px 0px #323232;
  -moz-box-shadow: 0px 0px 24px 0px #323232;
  box-shadow: 0px 0px 24px 0px #323232;
}

.contact .map img, .contact .map iframe {
  width: 100%;
  height: 100%;
}

.contact .form {
  float: left;
  width: 40%;
  background: rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 20px 0 0 70px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px 0px #323232;
  -moz-box-shadow: 0px 0px 24px 0px #323232;
  box-shadow: 0px 0px 24px 0px #323232;
}

.contact .form div.wpcf7-response-output, .contact .form span.wpcf7-not-valid-tip {
  float: left;
  border: none;
  color: #fff;
  font: normal 16px $avalon;
  margin-top: 10px;
}

.contact .form span.wpcf7-not-valid-tip {
  margin-top: -20px;
  color: red;
  margin-bottom: 10px;
  width: 100%;
}

.contact .form form {
  display: block;
  width: 90%;
  padding: 5%;
  float: left;
}

.contact .form form ::-webkit-input-placeholder {
  color: #fff;
}

.contact .form form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.contact .form form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.contact .form form :-ms-input-placeholder {
  color: #fff;
}

.contact .form input, .contact .form textarea {
  float: left;
  font: normal 22px $avalon;
  color: #fff;
  width: 83%;
  border: 0;
  outline: none;
  background: rgba(192, 192, 192, 0.6) url(../Images/Buttons/nameBg.png) no-repeat 20px 21px;
  padding: 15px 2% 15px 15%;
  margin: 0 0 25px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
}

.contact .form form p {
  float: left;
  width: 100%;
}

.contact .form form p + p input {
  background: rgba(192, 192, 192, 0.6) url(../Images/Buttons/emailBg.png) no-repeat 20px 25px;
}

.contact .form form p + p + p input {

  background: rgba(192, 192, 192, 0.6) url(../Images/phone_cf.png) no-repeat 20px 13px;
}

.contact .form textarea {
  height: 136px;
  background: rgba(192, 192, 192, 0.6) url(../Images/Buttons/messageBg.png) no-repeat 20px 21px;
  margin: 0 0 25px 0;
  resize: none;
}

.contact .form input[type=submit] {
  float: right;
  width: 170px;
  height: 57px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  background: #4a0860;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhMDg2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ODQwOWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #4a0860 0%, #88409a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a0860), color-stop(100%, #88409a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4a0860 0%, #88409a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4a0860 0%, #88409a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4a0860 0%, #88409a 100%);
  /* IE10+ */
  background: linear, to bottom, #4a0860 0%, #88409a 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a0860', endColorstr='#88409a', GradientType=0);
  /* IE6-8 */
}

.contact .form input[type=submit]:hover {
  background: #88409a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4NDA5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTA4NjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #88409a 0%, #4a0860 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88409a), color-stop(100%, #4a0860));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #88409a 0%, #4a0860 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #88409a 0%, #4a0860 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #88409a 0%, #4a0860 100%);
  /* IE10+ */
  background: linear, to bottom, #88409a 0%, #4a0860 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88409a', endColorstr='#4a0860', GradientType=0);
  /* IE6-8 */
}

/*Footer
-------------------------------------------- */
footer {
  float: left;
  width: 100%;
  height: 195px;
  padding: 0;
  margin: 0;
}

footer p {
  float: left;
  font: normal 17px $avalon;
  color: #5e5f5c;
  /*width: 48%;*/
  padding: 0;
  margin: 109px 0 0 20px;
  text-align: left;
}

footer .socialNetwork {
  float: right;
  margin: 88px 0 0 0;
}

footer .socialNetwork a {
  float: left;
  width: 64px;
  height: 63px;
  padding: 0;
  margin: 0 9px 0 0;
}

footer .fb {
  background: url(../Images/Buttons/socialIcon.png) no-repeat left 0;
}

footer .twitter {
  background: url(../Images/Buttons/socialIcon.png) no-repeat -73px 0;
}

footer .pint {
  background: url(../Images/Buttons/socialIcon.png) no-repeat -141px 0;
}

footer .google {
  background: url(../Images/Buttons/socialIcon.png) no-repeat right 0;
}

footer .fb:hover, footer .twitter:hover, footer .pint:hover, footer .google:hover, .home .logoInner:hover {
  opacity: 0.6;
}

.mobile-header {
  width: 100%;
  height: 50px;
  background-color: #1B1B1B;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  text-align: center;
  font: 16px/51px $avalon;
  color: #fff;

}

.mobile {
  display: none;
}

.animation {
  float: left;
  position: relative;
  width: 100%;
  font-size: 72px;
  &:after {
    background: url(../Images/bar.png) 0 bottom /100% auto no-repeat;
    @include content(100%, 7px, "", "", 0, 0);

  }
}

.animation .scene {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.animation div {
  background-repeat: no-repeat !important;
}

.animation h1.process {
  font: bold 100% $avalon;
  color: #cbcbcb;
  width: 315px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -157.5px;
}

.animation .sketch, .animation .design {
  opacity: 0;
  background: url("../Images/sketch.jpg");
  width: 518px;
  height: 328px;
  position: absolute;
  bottom: 60px;
  right: 5%;
}

.animation .design {
  background: url("../Images/design.png");
}

.animation .sketch-h1, .animation .render {
  position: absolute;
  left: 10%;
  top: 50%;
  margin: -40px 0 0 0;
  font: bold 100% $avalon;
  color: #7373a9;
  text-transform: lowercase;

}

.animation .model-h1 {
  position: absolute;
  top: 300px;
  right: 100px;
  font: bold 100% $avalon;
  color: #483a80;
  margin-top: -40px;
  text-transform: lowercase;
}

.animation .render {
  color: #c42501;
}

.animation .hand {
  background: url("../Images/hand-2.png");
  position: absolute;
  bottom: -29px;
  right: -550px;
  width: 503px;
  height: 341px;
}

.animation .hand1 {
  background: url("../Images/hand-3.png");
  position: absolute;
  right: 0;
  bottom: 0;
  width: 215px;
  height: 374px;
  z-index: 2;
}

.animation .ipad {
  background: url("../Images/ipad.jpg");
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 555px;
  overflow: hidden;
}

.animation .ipad:after {
  content: "";
  width: 50px;
  height: 380px;
  position: absolute;
  top: 48px;
  right: 0px;
  background: url("../Images/ipad.jpg") no-repeat -715px -47px;
  z-index: 5;
}

.animation .ipad:before {
  content: "";
  width: 206px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../Images/ipad.jpg") no-repeat 0px 0px;
  z-index: 5;
}

.animation .ipad-image {
  position: absolute;
  left: 205px;
  top: 55px;
  width: 510px;
  height: 372px;
}

.animation .ipad-image-1 {
  background: url(../Images/image-ipad-1.jpg) no-repeat 0 0;
}

.animation .ipad-image-2 {
  background: url(../Images/image-ipad-2.jpg) no-repeat 0 0;
}

.animation .ipad-image-3 {
  background: url(../Images/image-ipad-3.jpg) no-repeat 0 0;
}

.animation .ipad-image-4 {
  background: url(../Images/image-ipad-4.jpg) no-repeat 0 0;
}

.animation .ipad-image-5 {
  background: url(../Images/image-ipad-5.jpg) no-repeat 0 0;
}

.animation .ipad-image-6 {
  background: url(../Images/image-ipad-6.jpg) no-repeat 0 0;
}

.animation .ipad-image-7 {
  background: url(../Images/image-ipad-7.jpg) no-repeat 0 0;
}

.animation .ipad-image-8 {
  background: url(../Images/image-ipad-8.jpg) no-repeat 0 0;
}

.animation .ipad-image-9 {
  background: url(../Images/image-ipad-9.jpg) no-repeat 0 0;
}

.animation .ipad-image-10 {
  background: url(../Images/image-ipad-10.jpg) no-repeat 0 0;
}

.animation .ipad-image-11 {
  background: url(../Images/image-ipad-11.jpg) no-repeat 0 0;
}

.animation .ipad-image-12 {
  background: url(../Images/image-ipad-12.jpg) no-repeat 0 0;
}

.animation .ipad-image-13 {
  background: url(../Images/image-ipad-13.jpg) no-repeat 0 0;
}

.bt-menu-trigger {
  position: absolute;
  top: -1px;
  left: 10px;
  z-index: 6;
  display: block;
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background-color: #fff;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: background-color 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: background-color 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: background-color 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.bt-menu-open span {
  background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

.bt-menu-open span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.bt-menu-open span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

body.pushy-active {
  overflow-x: hidden !important;
}

.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0px;
  background: red;
  opacity: 0;
  -ms-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  z-index: 9999;
}

html {
  height: 100%;

}

.pushy-active {

  height: 100%;
  .Wrapper {
    height: 100%;

  }
}

#home nav, .Wrapper {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -webkit-backface-visibility: hidden;
}

.container-push, .push-push {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.column_video {

  h1, h3, .know-more {
    @include absolute("", "", 255px, 60px);

    font: bold 62px $avalon;
    color: #fff;
    z-index: 2;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

  }
  h3 {
    bottom: 200px;
    font: normal 20px $avalon;

  }

  .know-more {
    font-size: 18px;
    color: #eaeaea;

    bottom: 180px;
    padding-right: 30px;

    &:after {
      @include content(25px, 25px, 0, 0, "", "");
      background: url("../Images/knowmore.png") no-repeat 0 0;
    }

  }

  .play {
    background: url("../Images/play-icon.png") no-repeat 0 0;
    width: 63px;
    height: 60px;
    @include absolute("", 60px, 220px, "");
    z-index: 2;

    &.playing {
      background: url("../Images/pause-icon.png") no-repeat 0 0;

    }
  }

}

.article {
  float: left;
  background: #eef2f3;
  .content {
    width: 45%;
    float: left;
    color: #595b5c;
    padding: 30px 2.5%;
    font-family: $avalon;
    h2 {
      font: 44px $avalon;
      color: #333333;
    }

    span {
      font-size: 13px;
    }
    p {
      font-size: 22px;
      margin: 60px 0;

    }

  }

  .thumb {
    width: 50%;
    float: left;

    img {
      width: 100%;

    }
  }

}

.intro {
  font: 24px $avalon;
  color: #595b5c;
  padding-bottom: 30px;
  float: left;
  width: 100%;

  h1 {
    font: bold 45px $avalon;
    color: #333333;
    margin: 25px 30px;
  }

  a {
    display: inline-block;
  }
  .detail {
    width: 70%;
    float: right;
  }

  ul {
    width: 40%;
    margin: 40px 0 30px;
    padding-right: 5%;

    float: left;
    li {
      margin: 7px 0;

    }
  }

}

.inner-intro {
  text-align: center;
  padding: 70px 0;
  p {
    font: bold 48px $avalon;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  span {
    font-size: 24px;
    display: inline-block;
    width: 100%;

    font-weight: lighter;
  }

}

.quote {
  float: left;
  width: 100%;

  .title {
    font: 48px $avalon;
    color: #000;
    width: 27.5%;
    opacity: 0.3;
    float: left;
    padding: 120px 0 0 2.5%;

    span {
      border-bottom: 1px solid black;
    }

  }
  .form {
    float: left;
    width: 67.5%;
    margin-top: 11px;

    p {

      width: 50%;
      float: left;
      margin-bottom: 20px;

      &.row {
        width: 100%;
        label {
          width: 15%;
          margin-top: 36px;

        }

      }
    }

    label {
      width: 30%;
      float: left;
      color: #fcf7f7;
      font: 24px $avalon;
      text-align: right;
      margin-top: 22px;

    }
    input:not([type="submit"]), textarea {
      background: rgba(255, 255, 255, 0.4);
      border: none;
      outline: none;
      float: left;
      width: 61%;
      margin-left: 5%;
      padding: 5px 2%;
      height: 40px;
      color: #fcf7f7;
      font: 24px $avalon;
      z-index: 1;
      position: relative;
      @include placeholder {
        font-size: 0;

      }

    }

    textarea {
      width: 79%;
      height: 70px;
      margin-left: 2%;
      resize: none;

    }
    input[type="submit"] {
      background: rgba(0, 0, 0, 0.4);

      width: 160px;
      height: 40px;
      cursor: pointer;

      border: 0;
      outline: 0;
      float: right;
      color: #fcf7f7;
      font: bold 24px $avalon;
    }

    div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng, div.wpcf7-mail-sent-ok {
      font-size: 16px;
      color: #fff;
      margin: 0;
      border: none !important;
      float: right;
      padding: 0px 0 10px;
      margin-top: -12px;

    }

    div.wpcf7 img.ajax-loader {
      float: right;
      margin-top: 5px;
      margin-right: 10px;

    }
    .wpcf7-not-valid-tip {
      color: #fff;
      margin: 7px 0 -14px 35%;
      display: block;
      position: relative;
      top: 6px;

    }
  }

}

.portfolio {
  margin: 150px auto 0;
  max-width: 1125px;
  width: 90%;

  .portfolio_wrapper {
    margin-top: 50px;

  }
  .portfolio-item {
    @include box-sizing(border-box);
    margin: 0 5px 5px 0;
    // @include transform(translate)
    img {
      @include verticalCenter();
    }

    &.grid-3-2 {

      height: 305px;
      width: 670px;
      .desc {
        padding: 20px;
        h5 {
          font-size: 70px;
        }
      }
    }

    &.grid-1-1 {
      width: 220px;
      height: 150px;
      .desc {
        padding: 10px;
        h5 {
          font-size: 20px;

        }
      }

    }
    &.grid-2-2 {
      width: 445px;
      height: 305px;

      .desc {

        padding: 20px;
        h5 {
          font-size: 40px;

        }
      }
    }

    &.grid-1-2 {
      width: 220px;
      height: 305px;

      .desc {
        padding: 10px;
        h5 {
          font-size: 25px;

        }
      }
    }
    &.small {
      width: 220px;
      height: 150px;

    }

    &:hover {
      .desc {
        opacity: 1;

      }
    }

  }

  .welcome-text {
    border-bottom: 3px solid #d9dcdd;
    border-top: 3px solid #d9dcdd;
    clear: both;
    color: #000;
    font: 300 50px/1.125 $avalon;
    margin: 0 auto 15px;
    //    max-width: 1120px;
    padding: 35px 0 40px 0;
    text-align: center;
    width: 100%;
  }

  #Filters {
    float: right;

    li {
      float: left;
      margin: 0 0 3px 5px;

      a {
        display: block;
        padding: 0.35em 0.9em;
        cursor: pointer;

        color: #202020;
        line-height: 1.125;
        text-transform: uppercase;
        font-size: 12px;

        &.selected, &:hover {
          background-color: #00a4a7;
          color: #fff;
          border-radius: 12px;
          font-weight: 700;
        }
      }
    }
  }

  #toggle {
    li {
      background: url(../Images/size.jpg) no-repeat 0 0;
      width: 28px;
      height: 18px;
      float: left;
      margin-right: 20px;
      cursor: pointer;

      &:last-child {

        background-position: -30px 0;

      }
      &.selected {
        opacity: 0.7;
      }

    }

  }

  .desc {
    cursor: pointer;
    cursor: pointer;
    @include transition(all 0.3s linear);
    opacity: 0;
    background: lightblue;
    @include overlay(5);

    @include box-sizing(border-box);
    text-transform: uppercase;
    color: #fff;

    h5 {

      font-family: $avalon;
    }

    .details {
      position: absolute;
      bottom: 10px;
    }
    a {
      color: inherit;

    }

  }

  .ourClient {
    background: #fff;
    min-height: 90px;
    margin-top: 30px;

    border-top: 4px solid #d9dcdd;
    border-bottom: 4px solid #d9dcdd;

    h2 {
      display: none;
    }

    .slide {
      float: left;
      width: 20%;
      height: 70px;
      margin-top: 10px;
      position: relative;

      img {
        @include verticalCenter();
      }
    }
    .slide:nth-child(6) {
      display: none;

    }

  }

  .ourClient-listing {

    border: {
      top: 1px solid #000;
      bottom: 1px solid #000;
    }
    margin: 40px auto;

    .heading-cont {
      margin-bottom: 0;
      h2 {
        height: auto;
      }
    }

  }

}

.portfolio-page-content {
  margin: 150px auto 0;
  max-width: 1125px;
  width: 90%;
  z-index: 2;
  position: relative;

}

.portfolio-content {
  color: #000;
  .details {
    width: 50%;
    font: bold 14px $avalon;
    color: #000;
    margin: 5px 0;

    span {
      font-weight: lighter;
      display: inline-block;
      margin-left: 5px;

    }
  }
  .title {
    font: bold 100px $avalon;
    margin: 10px 0;
    color: #000;
  }
  .the_content p {

    font: 30px $avalon;
    margin: 20px 0;
  }

  .project-navigation {
    width: 92%;
    max-width: 1120px;
    margin: auto;
    z-index: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .portfolio-arrowleft,
  .portfolio-arrowright {
    top: 0;
    bottom: 0;
    padding: 0;
    margin: auto;
    line-height: 100px;
    width: 110px;
    height: 85px;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center top;
    text-indent: -9999px;
  }
  .portfolio-arrowleft-visible,
  .portfolio-arrowright-visible {
    visibility: visible;
  }
  .portfolio-arrowleft:hover,
  .portfolio-arrowright:hover {
    text-decoration: none;
  }

  .portfolio-arrowleft {
    background-image: url(../Images/news-arrow-l.png);
  }
  .portfolio-arrowright {
    background-image: url(../Images/news-arrow-r.png);
  }
  .portfolio-arrowright,
  .portfolio-arrowright:hover {
    -webkit-transition: right 200ms ease-in-out;
    -moz-transition: right 200ms ease-in-out;
    -ms-transition: right 200ms ease-in-out;
    -o-transition: right 200ms ease-in-out;
    transition: right 200ms ease-in-out;
  }
  .portfolio-arrowright {
    right: -90px;
  }
  .portfolio-arrowright:hover {
    right: -100px;
  }
  .portfolio-arrowleft,
  .portfolio-arrowleft:hover {
    -webkit-transition: left 200ms ease-in-out;
    -moz-transition: left 200ms ease-in-out;
    -ms-transition: left 200ms ease-in-out;
    -o-transition: left 200ms ease-in-out;
    transition: left 200ms ease-in-out;
  }
  .portfolio-arrowleft {
    left: -90px;
  }
  .portfolio-arrowleft:hover {
    left: -100px;
  }

  .column_image {

    img {
      margin: 0 auto;
      display: block;
    }
    .image-desc {
      margin: 20px 0;

    }
    h3 {
      font: bold 20px $avalon;
      margin: 5px 0;
    }
    p {
      font: 16px $avalon;
      margin: 5px 0;
    }

  }

  .sharing-icons {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sharing-icons a {
    text-align: center;
    text-decoration: none;
    font-family: $avalon;
    font-size: 16px;

    width: 19px;
    height: 19px;
    display: inline-block;
    color: #000;
    position: relative;
    margin-left: 18px;
    background: url(../Images/social-ions.jpg) 0 0 no-repeat;
  }

  .sharing-icons a.sharing-icons-facebook {
    background-position: -38px 0;
    width: 18px;
  }
  .sharing-icons a.sharing-icons-googleplus {

    background-position: -75px 0;
  }

  .sharing-icons a:hover {
    color: #000;
    text-decoration: none;
  }
  .sharing-icons a:first-child {
    margin-left: 0;
  }
  .sharing-icons-tooltip {
    position: absolute;
    bottom: -18px;
    left: 8px; /* half of the link width */
    margin-left: -35px;
    width: 70px;
    color: #fff;
    font: 10px $avalon;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 470ms, opacity 450ms 20ms ease-out, bottom 450ms 20ms ease-out;
    transition: visibility 0s linear 470ms, opacity 450ms 20ms ease-out, bottom 450ms 20ms ease-out;
  }
  .sharing-icons-icon:hover + .sharing-icons-tooltip {
    visibility: visible;
    opacity: 1;
    bottom: -27px;
    -webkit-transition: visibility 0s linear, opacity 70ms linear, bottom 70ms linear;
    transition: visibility 0s linear, opacity 70ms linear, bottom 70ms linear;
  }
  .sharing-icons-tooltip:after {
    color: #fff;
    content: attr(data-tooltip);
    font: 700 10px/1.5 $avalon;
    display: inline-block;
    padding: 2px 6px;
    text-transform: uppercase;
    background-color: #000;
    border-radius: 4px 4px 4px 4px;
  }

}

.column_video_box {

  .player_wrapper {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 50%;

    iframe, video {
      @include absolute(0, "", "", 0);
      width: 100%;
      height: 100%;

    }
  }
  .image-desc {
    margin: 20px 0;

  }
  h3 {
    font: bold 20px $avalon;
    margin: 5px 0;
  }

  p {
    font: 16px $avalon;
    margin: 5px 0;
  }
}

#Error_404 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../Images/tokyo-bk-2.jpg") 0 0 no-repeat;
  background-size: cover;
  font-family: $avalon;
  color: #fff;
  display: table;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.22);

  .error_desk {
    display: table-cell;
    vertical-align: middle;
    padding-left: 80px;

  }

  h2 {
    font-size: 60px;
  }
  h4 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    a {
      color: inherit;
      text-decoration: underline;

    }
  }

}

.dataTables_length, .dataTables_filter, .dataTables_paginate, .dataTables_info {
  display: none;

}

.column_accordion {
  margin: 140px 40px 0;
  min-height: 630px;

  a {
    display: inline;
    color: inherit;
    text-decoration: underline;
  }
  .answer {
    display: none;
    background: #eef2f3;
    padding: 10px 15px 5px 15px;
    font: 14px $avalon;

  }

  h4 {
    margin: 30px 0px;
    font: 44px $avalon;

  }
  h5 {
    margin-top: 10px;
    background: #009fb5;
    color: #fff;
    cursor: pointer;

    font: 18px $avalon;
    padding: 15px 20px;

    &.active {
      background: #7373a9
    }

  }

  .tablepress th {
    width: auto !important;

  }
  .tablepress td, .tablepress th {
    background: none !important;
    border: none;
    &:after {

      display: none !important;
    }
  }

  .open1st .answer:first-of-type {
    display: block;
  }
}

@media only screen and (max-width: 1170px) {
  footer {
    height: auto;

  }
  footer p {
    font-size: 14px;
    width: 47%;
    margin: 30px 0 0 20px;

  }

  footer .socialNetwork {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    margin-top: 18px;
  }
  .quote .title {
    font-size: 34px;
    padding-top: 150px;

  }

  .article .content {
    padding: 15px 2.5%;
    h2 {
      font-size: 30px;

    }
    span {
      font-size: 10px;
    }
    p {
      margin: 10px 0;
      font-size: 16px;

    }
  }

  .inner-intro {
    p {
      font-size: 26px;
    }
    span {
      font-size: 16px;
    }

  }

  .quote .form {
    label {
      font-size: 16px;
      margin-top: 27px;

    }
  }
  .intro .detail {
    width: 96%;
    float: left;
    margin-left: 30px;
  }
  .about .services ul li h3 {
    font-size: 15px;
    height: 40px;

  }
  .about .services ul li .hover {
    width: 100%;
    height: 150px;
  }

  .services-intro {

    min-height: 0;
    p {
      padding: 98px 0;
    }
  }

  .ourClient-listing .slide {
    margin: 0 1%;
  }
}

@media only screen and (max-width: 800px) {
  .services-intro p {

    padding: 18px 0;
  }

  .ourClient-listing .slide {
    width: 31%;

  }
  .column_accordion {
    margin: 140px 0px 0;
    .answer {
      padding: 10px 0px 5px 0;
      font: 12px $avalon;

    }
  }
}

@media only screen and (max-width: 767px) {
  .column_accordion {
    .answer {
      font: 10px $avalon;
    }
    .column-4 a {
      font-size: 0;
      &:after {
        content: "view details";
        font-size: 10px;
      }
    }

  }
  section.home {
    background-size: auto;

  }

  header {
    position: fixed;
    width: 210px;
    left: 0;
    height: 100% !important;
    top: 0;
    z-index: 9999;
    background: #1B1B1B !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
    -webkit-transform: translate3d(-210px, 0, 0);
    -moz-transform: translate3d(-210px, 0, 0);
    -ms-transform: translate3d(-210px, 0, 0);
    -o-transform: translate3d(-210px, 0, 0);
    transform: translate3d(-210px, 0, 0);
    margin-top: 0;
  }

  header nav {
    height: auto;
  }

  header ul {
    height: auto;
    display: block;
    margin-top: 20px;
  }

  header li {
    float: left;
    padding: 0;
    width: 100%;
    margin: 0;
  }

  header li:last-child a {
    border-bottom: none;
  }

  header li a {
    width: 90%;
    margin: 0;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #636363;
    display: block;
  }

  header nav > ul > li:first-child a.active {
    border-bottom: 0;
  }

  header nav > ul > li:first-child a.active:after {
    width: 100%;
    left: 0;
  }

  header nav > ul > li {
    padding: 0 10px;
  }

  header nav > ul ul {
    display: block !important;
    position: static;
    width: 98%;
    padding: 0;
    margin-top: 0 !important;
    margin-left: 0;
    min-width: 0;
    float: left;

    li {
      a {
        font-size: 10px;
      }
    }

  }

  header nav > ul ul li:nth-child(1) a {
    background-color: #009fb5;
  }

  header nav > ul ul li:nth-child(2) a {
    background-color: #ef4f4e;
  }

  header nav > ul ul li:nth-child(3) a {
    background-color: #a14176;
  }

  header nav > ul ul li:nth-child(4) a {
    background-color: #7373a9;
  }

  header nav > ul ul a {
    border-bottom: none;
  }
}

@media only screen and (max-width: 767px) {

  .column_accordion {
    margin-top: 60px;

  }

  #Error_404 .error_desk {
    padding-left: 20px;

  }
  .logo {
    float: none;
    margin: 10px auto;
    display: block;
  }

  video {
    display: none;
  }

  .about {
    height: auto;
  }

  .about h2 {
    padding: 10px 0;
    margin: 0 auto 15px;
    font-size: 24px;

  }

  .about p {
    font-size: 20px;
    margin-top: 0;
  }

  .about .services ul {
    margin: 0;
  }

  .about .services ul li {
    width: 100%;
    margin: 10px 0;
    text-align: center;

  }
  .about .services ul li .hover {

    width: 180px;
    height: 150px;
    float: none;
    display: inline-block;
  }

  .ourClient-listing .slide {
    width: 40%;
    margin: 0 5%;
    height: 100px;

  }
  .about .services ul li:last-child {
    padding-bottom: 20px;
  }

  .services-intro p {
    font-size: 30px;
    padding: 20px 0;
    width: 90%;
  }

  .animation {
    display: none;
  }

  .event {
    background-position: center -212px;
    height: auto;
  }

  .event h2 {
    padding: 10px 0;
    margin: 0 auto 15px;
    width: 100%;
    font-size: 24px;
  }

  .event .bx-wrapper {
    margin: 20px auto 0;
    width: 100%;
  }

  .event .bx-wrapper .bx-viewport {
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
  }

  .event .bx-wrapper .bx-viewport .slide {
    height: 70px;
  }

  .event .bx-wrapper .bx-controls-direction {
    margin: 30px auto;
  }

  .event p {
    margin: 135px auto 35px;
    padding: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
  }

  .contact {
    height: auto !important;
  }

  .contact h2 {
    padding: 10px 0;
    margin: 0 auto 15px;
    width: 100%;
    font-size: 24px;
  }

  .contact .form {
    width: 90%;
    margin: 0 0 40px 5%;
  }

  .contact .form input:not([type=submit]), .contact .form textarea {
    font-size: 14px;
    padding: 8px 2% 8px 4%;
    width: 96%;
    background-image: none !important;
  }

  .contact .form input[type=submit] {
    width: 100%;
    font-size: 16px;
    height: 40px;
  }

  .contact .map {
    width: 100%;
    height: 180px !important;
    padding-top: 0;
    border-radius: 0;
    margin: 0 0 20px 0;
  }

  footer {
    height: auto;
    padding-bottom: 0;

  }

  footer p {
    font: normal 13px $avalon;
    width: 96%;
    margin: 10px 0 20px 2%;
  }

  footer .socialNetwork {
    margin: 0;
    float: left;
    width: 100%;
    text-align: center;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }

  footer .socialNetwork a {
    display: inline-block;
    float: none;
    margin: 0 5px 0;
  }

  .ourClient .client h2 {
    padding: 10px 0;
    margin: 0 auto 15px;
    width: 100%;
    font-size: 24px;
  }

  .home h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  html.js {
    margin-top: 0 !important;
  }

  #wpadminbar {
    display: none;
  }

  .column_video {

    h1, h3, .know-more {
      left: 5px;
      font-size: 30px;
      bottom: 120px;

    }
    h3 {
      font-size: 16px;
      bottom: 60px;

    }
    .know-more {
      font-size: 12px;
      padding: 5px 30px 6px 0;
      bottom: 20px;

    }

  }
  .intro {
    font-size: 16px;
    .detail {
      margin: 0 4%;
      width: 92%;

    }
    h1 {
      font-size: 30px;
      margin: 25px 4%;

    }
    ul {
      width: 100%;
      margin: 10px 0;
      padding: 0;
    }
  }

  .article {
    .thumb {
      display: none;
    }

    .content {
      width: 92%;
      padding: 15px 4%;
      border-bottom: 2px solid #B0B1AB;

    }
  }
  .quote {
    .title {
      width: 92%;
      padding: 10px 4%;
    }

    .form {
      width: 92%;
      padding: 0px 4%;
      margin-top: -10px;

      label {
        display: none;
      }
      p {
        width: 100%;
        margin-bottom: 0;
      }

      input, textarea {
        margin: 0 !important;
        width: 92% !important;
        padding: 0px 4% !important;
        font-size: 16px !important;

        @include placeholder {
          color: #fff !important;
          font-size: 16px !important;

        }
      }
      textarea {
        padding-top: 10px !important;
      }
      input[type="submit"] {
        width: 100% !important;
        margin-top: 15px !important;

      }
      .wpcf7-not-valid-tip {
        margin: 7px 0 0 0;
      }
    }
  }

  .portfolio {
    margin-top: 0;
    .welcome-text {
      font-size: 24px;
      margin-top: 65px;
      padding: 20px 0;

    }

    .portfolio-item {
      margin: 0 3px 3px 0;
    }
    .portfolio-item.grid-3-2, .portfolio-item.grid-2-2 {
      height: 160px;
      width: 281px;
    }
    .portfolio-item.grid-1-1 {
      width: 139px;
      height: 100px;
    }
    .portfolio-item.grid-2-2 {
      height: 240px;
    }
    .portfolio-item.grid-1-2 {
      width: 139px;
      height: 203px;

    }

    .desc {
      display: none;
    }

    .ourClient {
      margin-bottom: 30px;
      padding-bottom: 10px;

      .slide {
        width: 100%;
        height: 50px;

      }

    }

  }

  .portfolio-page-content {
    margin-top: 60px;
  }
  .portfolio-content {

    .details {
      font-size: 12px;

      span {
        margin-left: 0;
      }

    }
    .title {
      font-size: 30px;
    }
    .column_image {
      img {
        width: 100%;
      }

      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }

    }
    .the_content p {
      font-size: 16px;

    }
    .project-navigation {
      width: 90%;
      margin: 0 auto;

      position: static;
      a {
        position: static;
        text-indent: 0 !important;
        background: none;
        float: left;
        font: bold 24px $avalon;
        color: #000;
        width: auto;
        height: auto;
        margin-bottom: 15px;
        &:before {
          content: "<";
          display: inline-block;
          margin: 0 5px 0 0;
          position: relative;
          top: -2px;
        }

      }
      .portfolio-arrowright {
        float: right;
        &:after {
          content: ">";
          position: relative;
          top: -2px;
          margin: 0 0 0 5px;
        }
        &:before {
          display: none;
        }
      }
    }
  }

  .about .services ul {
    width: 90%;
    margin: 0 auto;

  }
  .services-intro {
    background-size: auto;
    background-position: center bottom;

  }

  .contact_page {
    padding-top: 50px !important;
  }


}

/*# sourceMappingURL=default.css.map */