@import "functions";

.span {
  width: 100%;
  height: 600px;
  background: lightblue;
  float: left;

}

.animation {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;

    height: 600px;
  background: #ffffff;
  outline: 1px solid #000;

  .absolute {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  div {
    background-repeat: no-repeat !important;
  }

  h1.process {

    font: bold 72px $proxima_nova_rgregular;
    color: #cbcbcb;
    @include widthHeight(315px, 80px);
    @include absolute(50%, "", "", 50%);
    margin: #{-80 / 2}px 0 0 #{-315 / 2}px;

  }

  .sketch {
    opacity: 0;
    background: url("../images/sketch.jpg");
    @include widthHeight(518px, 328px);
    @include absolute("", 60px, 60px, "");
  }

  .design {
    @extend .sketch;
    background: url("../images/design.png");
  }
  .sketch-h1 {
    @include absolute(50%, "", "", 10%);
    margin: #{-80 / 2}px 0 0 0;
    font: bold 72px $proxima_nova_rgregular;
    color: #6b074b;
  }

  .model {
    @include absolute(300px, 100px, "", "");
    font: bold 72px $proxima_nova_rgregular;
    color: #483a80;
    margin-top: #{-80/2}px;


  }

  .render {
    @extend .sketch-h1;
    color: #c42501;
  }

  .hand {
    background: url("../images/hand-2.png");
    //@include absolute("", -174px, -29px, "");
    @include absolute("", -550px, -29px, "");
    @include widthHeight(503px, 341px);
  }

  .hand1 {
    background: url("../images/hand-3.png");
    position: absolute;
    right: 0;
    bottom: 0;
    width: 215px;
    height: 374px;
    z-index: 2;
  }

  .ipad {
    background: url("../images/ipad.jpg");

    @include absolute("", 0, 0, "");
    @include widthHeight(765px, 555px);
    overflow: hidden;

    &:after {
      @include content(50px, 380px, 48px, 0px, "", "");
      background: url("../images/ipad.jpg") no-repeat -715px -47px;
      z-index: 5;

    }

    &:before{
      @include content(206px,100%,0,"","",0);
      background: url("../images/ipad.jpg") no-repeat 0px -0px;
      z-index: 5;



    }
  }

  .ipad-image {
    @include absolute(55px, "", "", 205px);
    @include widthHeight(#{510*13}px, 372px);
    background: url("../images/ipad-image-timeline.jpg");


  }

}